p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
}

.header {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.solution {
  margin-bottom: 20px;
}

.learn-more {
  font-weight: bol;
  color: rgb(58, 108, 199);
  cursor: pointer;
}

.learn-more:hover {
  text-decoration: underline;
}