p {
  text-align: center;
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.new {
  color: orangered;
  font-weight: bold;
  margin-top: 55px;
  font-size: 14px;
}

.macbook {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

.title {
  font-weight: bold;
  font-size: 45px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
}

.buy {
  margin-top: 25px;
  background-color: rgb(14, 139, 223);
  border-radius: 75px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.buy-button {
  margin-top: 20px;
}