p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat;
}

.model{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.delivery {
  text-align: center;
}