.shadow-button {
  background-color: green;
  color: white;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
   
/* Box-shadow is next but we need to go over shadows 
again by rewatching the video because you were COMPLETELY lost */
}

.shadow-button:active {
margin-top: 3px;
margin-left: 3px;
box-shadow: 0 0 0 black;
/* Note to self for box-shadow we could have also just put 
"box-shadow: none;" */
}

/* We wanted to get rid of the shadow once the button was clicked 
so we did the opposite with the margin left and top (by2px active) 
to counter the box-shadow in (style) portion of code */
